h2 {
    display: flex;
    justify-content: center;
    margin: 25px 0 45px 0;
}
p {
    margin-left: 95px;
    font-size: 18px;
}
.checktext {
    display: block;
    margin: 0 0 7px 147px;
    font-size: 16px;
}
.checktext::before {
    content: '';
    position: absolute;
    left: 120px;
    width: 15px;
    height: 14px;
    border: 2px solid #000;
    border-radius: 2px;
    background-color: #c8e4f9;
}
.checktext:checked::before {
    content: '\2713';
    position: absolute;
    left: 120px;
    width: 15px;
    height: 14px;
    font-size: 18px;
    line-height: 14px;
    text-align: center;
    color: #000;
}
[type="checkbox"] {
    display: none;
}
.buttonform {
    display: block;
    margin: 0 auto;
    width: 329px;
    height: 55px;
    margin-top: 54px;
    font-size: 22px;
    border: 2px solid #000;
    background-color: #c8e4f9;
}
